*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e0effa65;
    color: #333;
}



.cadastro-header{
    background: linear-gradient(135deg, #0756a6cc, #63b1f0);
    color: white;
    padding: 40px;
}

.cadastro-header h1{
    font-size: 38px;
    margin: 15px 0 10px;
}

.cadastro-header p{
    font-size: 17px;
}

.voltar{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.voltar:hover{
    opacity: .8;
}



.container{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}



.box{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.box h2{
    color: #044281;
    margin-bottom: 25px;
    font-size: 28px;
}

.box h3{
    color: #044281;
    margin-bottom: 20px;
    font-size: 22px;
}



.pet{
    border: 2px solid #0756a654;
    border-radius: 18px;
    padding: 25px;
    margin-bottom: 25px;
    background: #fcfffc;
}


.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.full{
    grid-column: span 2;
}



.campo{
    display: flex;
    flex-direction: column;
}

.campo label{
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

.campo input,
.campo select{
    padding: 14px;
    border: 2px solid #0756a638;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: .3s;
    background: white;
}

.campo input:focus,
.campo select:focus{
    border-color: #0756a6;
    box-shadow: 0 0 8px rgba(45,155,61,.25);
}


.btn-add{
    width: 100%;
    padding: 18px;
    border: 2px dashed #0757a6;
    background: #eff8ff;
    color: #0757a6;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.btn-add:hover{
    background: #78a1c5;
    color: white;
}



.btn-confirmar{
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 15px;
    background: #0756a6cc;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.btn-confirmar:hover{
    background: #0757a6;
    transform: translateY(-2px);
}



@media(max-width:768px){

    .grid{
        grid-template-columns: 1fr;
    }

    .full{
        grid-column: span 1;
    }

    .cadastro-header{
        padding: 30px 20px;
    }

    .cadastro-header h1{
        font-size: 30px;
    }

    .box{
        padding: 20px;
    }
}