*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#e0effa65;
}

.container{
    width:90%;
    max-width:1100px;
    margin:40px auto;
}

header{
    background:#0a63bdcc;
    color:white;
    padding:30px;
    border-radius:15px 15px 0 0;
}

header h1{
    font-size:35px;
}

header p{
    margin-top:8px;
    font-size:18px;
}

.etapas{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:rgb(255, 255, 255);
    padding:25px;
}

.etapa{
    display:flex;
    align-items:center;
    gap:10px;
}

.numero{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#4d82ab4b;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.ativa .numero{
    background:#0757a6;
    color:white;
}

.linha{
    flex:1;
    height:3px;
    background:#051dcbac;
    margin:0 15px;
}

.card{
    background:white;
    padding:35px;
    border-radius:15px;
    margin-top:25px;
}

.card h2{
    margin-bottom:30px;
    color:#033b74;
}

.datas{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.datas button{

    height:70px;

    border:2px solid #0756a657;

    background:white;

    border-radius:12px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.datas button:hover{

    border-color:#0757a6;

}

.selecionado{

    border:2px solid #0757a6 !important;

    background:#eff8ff !important;

}

.continuar{

    width:100%;

    margin-top:30px;

    height:60px;

    border:none;

    border-radius:10px;

    background:#1c568693;

    color:white;

    font-size:22px;

    cursor:pointer;

}

.continuar:hover{

    background:#0757a6;

}

#cardHorario{
    display:none;
}

.horarios{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.horarios button{

    height:65px;

    border:2px solid #ddd;

    background:white;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.horarios button:hover{

    border-color:#0756a657;

}

.horarios .selecionado{

    background:#4CAF50;

    color:rgb(1, 1, 29);

    border-color:#4CAF50;

}