@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e0effa65;
    color: #e8610d;
}



header {
    background: #0756a6cc;
    color: white;
    padding: 35px 8%;
}

header h1 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 45px;
    font-weight: 700;
}

header h1 i {
    font-size: 40px;
}

header p {
    margin-left: 55px;
    margin-top: 10px;
    font-size: 20px;
    opacity: .95;
}



.etapas {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.etapa {
    display: flex;
    align-items: center;
    gap: 12px;
}

.numero {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #4d82ab4b;
    color: #053e76;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.etapa.ativa .numero,
.etapa.concluida .numero {
    background: #0757a6;
    color: white;
}

.etapa span {
    font-size: 17px;
    font-weight: 600;
    color: #0757a6;
}

.linha {
    width: 220px;
    height: 4px;
    background: #95d6f73e;
    border-radius: 20px;
}

.linha.ativa {
    background: #051ccb8b;
}



.card {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    border-radius: 22px;
    padding: 30px;
    box-shadow: 0 5px 18px rgba(175, 39, 39, 0.12);
}

.card h2 {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #0757a6;
    font-size: 34px;
    margin-bottom: 30px;
}

.card h2 i {
    color: #0757a6;
}



.servico-card {
    margin-bottom: 20px;
}

.servico {
    width: 100%;
    border: 2px solid #0756a65c;
    background: white;
    border-radius: 20px;
    padding: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .25s;
}

.servico:hover {
    transform: translateY(-3px);
    border-color: #0757a6;
    box-shadow: 0 8px 20px rgba(2, 87, 255, 0.18);
}

.servico.selecionado {
    border: 3px solid #0757a6;
    background: #eff8ff;
}

.icone {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #eff8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0757a6;
    font-size: 34px;
    margin-right: 20px;
}

.info {
    flex: 1;
    text-align: left;
}

.info h3 {
    font-size: 22px;
    color: #0757a6;
    margin-bottom: 6px;
}

.info p {
    font-size: 18px;
    color: #0757a6;
}

.info p i {
    color: #013e7b;
    margin-right: 6px;
}

.preco {
    color: #023b75;
    font-size: 28px;
    font-weight: bold;
}



.botoes {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
}

.btn-voltar,
.btn-continuar {
    flex: 1;
    text-align: center;
    padding: 18px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
}

.btn-voltar {
    background: #0756a649;
    color: #ffffff;
}

.btn-voltar:hover {
    background: #0757a6;
}

.btn-continuar {
    background: #0756a6c5;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-continuar:hover:not(:disabled) {
    background: #003161;
}

.btn-continuar:disabled {
    background: #0757a6;
    cursor: not-allowed;
}



@media (max-width:900px){

    header{
        padding:25px;
    }

    header h1{
        font-size:32px;
    }

    header p{
        margin-left:0;
    }

    .etapas{
        flex-direction:column;
        gap:20px;
    }

    .linha{
        width:4px;
        height:40px;
    }

    .servico{
        flex-direction:column;
        text-align:center;
    }

    .icone{
        margin:0 0 20px;
    }

    .preco{
        margin-top:20px;
    }

    .botoes{
        flex-direction:column;
        padding:0 20px;
    }

}

@media (max-width:600px){

    .card{
        margin:20px 15px;
        padding:20px;
    }

    .card h2{
        font-size:26px;
    }

    .info h3{
        font-size:20px;
    }

    .info p{
        font-size:16px;
    }

    .preco{
        font-size:24px;
    }

}